<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Shop" providerName="Microsoft.Data.SqlClient"
         connectionString="Server=LUNARPC;Database=ShopSimple;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;Connect Timeout=5;" />
  </connectionStrings>
</configuration>
